<!DOCTYPE html>
<html lang="en">

{% load static %}


<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Hector de la Torre Casado</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png'% }" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png'% }" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header Left ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{% static 'assets/img/hector-portrait-squared.jpg' %}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Héctor de la Torre Casado</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://linkedin.com/in/hectordelatorrecasado" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          <a href="https://github.com/hdelator" class="github"><i class="bx bxl-github"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
          <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
          <li><a href="#testimonials" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Testimonials</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1 style="line-height:110%;"> Héctor de la Torre
      </h1>
      <p>I'm a <span class="typed" data-typed-items="Backend Developer, Data Scientist, Machine Learning Engineer"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{% static 'assets/img/hector-portrait.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>AI/Machine Learning Team Leader - Developer - Data Scientist</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>10 May 1990</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.hectordelatorrecasado.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+33 749 331 521</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Toulouse, France</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>32</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Master</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>htorrecasado@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            <p>
              Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
              Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container">

        <div class="section-title">
          <h2>Skills & Facts</h2>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="count-box">
              <i class="bi bi-briefcase-fill"></i>
              <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Years in business</strong></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
              <i class="bi bi-people-fill"></i>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Client accounts</strong><br>$1.2M in revenue growth</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="count-box">
              <i class="bi bi-globe"></i>
              <span data-purecounter-start="0" data-purecounter-end="3" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Languages</strong><br>English, Spanish, French</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="count-box">
              <i class="bi bi-airplane"></i>
              <span data-purecounter-start="0" data-purecounter-end="62" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Countries visited</strong><br>Work & Personal</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Héctor de la Torre Casado</h4>
              <p><em>Innovative and deadline-driven Graphic Designer with 3+ years of experience designing and developing user-centered digital/print marketing material from initial concept to final, polished deliverable.</em></p>
              <ul>
                <li>10 years of technical and business experience helping companies be data-driven in order to solve business problems</li>
                <li>Programming experience: Python (PySpark, Pandas, Sklearn, Pytest, Flask, Keras), R, SQL, Matlab, Fortran, Linux </li>
                <li>Machine learning projects: NLP, Random Forest, K-Means, Image Processing, Neural Networks, Ontologies</li>
                <li>Database and cloud-based software: Skywise (Palantir), Github, Oracle, SAP, MS Access, Protégé</li>
                <li>Master Black Belt (MBB) certification in Transactional Process Improvement (TPI Kaizen): Instructor and leader </li>
                <li>Languages: Bilingual in English and Spanish, full professional proficiency in French</li>
              </ul>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Masters in Alternative Energy (GPA: 3.93)</h4>
              <h5>2014 - 2015</h5>
              <p><em>University of Rochester, Rochester, NY (USA)</em></p>
              <p>Advanced Transport Phenomena; Solar Cells; Semiconductor Devices; Fuel Cells;
                Energy Systems; Smart Grids; Statistical Thermodynamics; Energy System Modelling; Electric Power
                Conversion, Transmission and Consumption.</p>
            </div>
            <div class="resume-item">
              <h4>Masters in Business (Grade: 9.6/10)</h4>
              <h5>2013 - 2014</h5>
              <p><em>University of Alcalá, Madrid (Spain)</em></p>
              <p>Management and Productivity; International Business and Change Management;
                Processing and Communications Challenges; International Business Law; Business and Finance; Professional
                Networks and Human Resources.</p>
            </div>
            <div class="resume-item">
              <h4>Bachelor in Aerospace Engineering (GPA: 3.97)</h4>
              <h5>2013 - 2014</h5>
              <p><em>Polytechnic University of Madrid, Madrid (Spain)
                <br/>Syracuse University, Syracuse, NY (USA)
              </em></p>
              <p>Fluid Mechanics; Aerodynamics; Flight Dynamics; Thermodynamics; Energy Conversion; Jet Engines and Gas Turbines;
                Aeronautical Structures; Airport Planning and Design; Navigation Systems and Avionics; Aeroelasticity.</p>
            </div>
            <h3 class="resume-title">Skills</h3>
              <section id="skills" class="skills section-bg">
                <div class="row skills-content">

                  <div class="progress">
                    <span class="skill">Python <i class="val">100%</i></span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>

                  <div class="progress">
                    <span class="skill">SQL <i class="val">90%</i></span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>

                  <div class="progress">
                    <span class="skill">Web Development <i class="val">70%</i></span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>

                  <div class="progress">
                    <span class="skill">R <i class="val">75%</i></span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>

                  <div class="progress">
                    <span class="skill">Machine Learning <i class="val">80%</i></span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>

                  <div class="progress">
                    <span class="skill">Data Science <i class="val">80%</i></span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>

                  <div class="progress">
                    <span class="skill">Natural Language Processing <i class="val">80%</i></span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>

                  <div class="progress">
                    <span class="skill">Neural Networks <i class="val">60%</i></span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>

                  <div class="progress">
                    <span class="skill">Agile/Scrum Methodologies<i class="val">90%</i></span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>

                </div>
              </section><!-- End Skills Section -->
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Lead Backend Developer</h4>
              <h4>AI/Machine Learning Team Leader</h4>
              <h5>Apr 2021 - Present</h5>
              <p><em>Airbus (Alten), Toulouse, France </em></p>
              <ul>
                <li>Design Python applications for multilevel industrial systems in order to help industrial architects
                  compute key metrics with the objective of reducing the launch time of a new aircraft program from 10 to 5 years</li>
                <li>Responsible for integrating the applications into cloud services (SOS Trades, SAS), creating automatic
                  tests for CI/CD pipeline (Pytest), approving pull requests on Github and building wheel packages for installation (Artifactory)</li>
                <li>Lead a team of 3 data scientist as project manager with the goal of creating a pipeline to automatically
                  extract requirements from lengthy complex technical documents using Natural Language Processing and Neural Networks</li>
                <li>Elaborate parsers to process various formats (PDF, XML, JSON…), create models to transform extracted
                  requirements into triples and design the structure for data storage on Protégé in the form of an ontology</li>
              </ul>
            </div>

            <div class="resume-item">
              <h4>Data Science Consultant</h4>
              <h5>Dec 2019 - Jan 2021</h5>
              <p><em>Airbus (Alten), Toulouse, France</em></p>
              <ul>
                <li>Determine which aircraft configurations are most likely to result in outstanding work from large-scale
                  datasets with more than 30 million rows in order to prioritize production work orders and coordinate tasks across 4 countries </li>
                <li>Identify recurrent issues in single-aisle production from PPS descriptions using unsupervised (K-Means)
                  and supervised (Random Forest) methods achieving 76% accuracy after determining the optimum number of clusters </li>
                <li>Elaborate a feasibility study to automatically categorize quality defects and locations from 49,531
                  nonconformity descriptions using Natural Language Processing with a precision of 90.89% on the test set</li>
                <li>Work along with the JavaScript developing team to create the input datasets for an Slate application
                  that displays real-time criticality levels that might affect aircraft delivery time following Scrum methodologies</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Business Analyst & Application Engineer</h4>
              <h5>Sept 2015 - Jan 2021</h5>
              <p><em>Fortive (S&P 500 company), Fairport, NY(USA)</em></p>
              <ul>
                <li>Managed quotations, pricing and contracts in Oracle considering volume of sales, market, operating margins and
                  growth potential of the accounts while providing excellent customer service and satisfying technical specifications </li>
                <li>Supported the manufacturing and engineering departments on the design and construction of standard and nonstandard
                  products for electrical transformers as well as analyzed product failures and customer quality concerns </li>
                <li>Obtained a MBB certification in TPI Kaizen after facilitating and leading 5 Kaizen events with L1 Team Members</li>
                <li>Traveled within the USA and Latin America to provide training on monitoring systems and commission units</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Design Engineer</h4>
              <h5>Jan 2014 - Sep 2014</h5>
              <p><em>Ineco, Madrid, Spain</em></p>
            </div>
            <div class="resume-item">
              <h4>Intern - Structural Dynamics and Aeroelasticity </h4>
              <h5>Sept 2015 - Jan 2021</h5>
              <p><em>Fortive (S&P 500 company), Fairport, New York</em></p>
              <ul>
                <li>Post-processed and analyzed data for ditching certification processes (SMart Aircrafts in Emergency
                  Situations) from tests executed at the INSEAN Research Institute (Italy)</li>
                <li>Created Matlab and Python programs to automatically process and compare big amounts of data to the
                  numerical results obtained in the simulations on Pam-Crash </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/portfolio-1.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/portfolio-1.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/portfolio-2.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/portfolio/portfolio-2.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"><a href="">Lorem Ipsum</a></h4>
            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-card-checklist"></i></div>
            <h4 class="title"><a href="">Dolor Sitema</a></h4>
            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-bar-chart"></i></div>
            <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
            <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-binoculars"></i></div>
            <h4 class="title"><a href="">Magni Dolores</a></h4>
            <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bi bi-brightness-high"></i></div>
            <h4 class="title"><a href="">Nemo Enim</a></h4>
            <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
            <div class="icon"><i class="bi bi-calendar4-week"></i></div>
            <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Testimonials</h2>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Hector is a hardworking professional engineer, fast learner with great attitude. He is always
                  eager to learn and collaborate on new challenges in both technical and commercial fields. Hector’s
                  ability to provide quick and helpful support to the customers has made a dramatic difference in the
                  customer’s satisfaction creating a great scenario to keep growing in the region.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/Yolanda.jpg' %}" class="testimonial-img" alt="">
                <h3>Yolanda Medina</h3>
                <h4>Senior Sales Manager at GE</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/Nikhil.jpg' %}" class="testimonial-img" alt="">
                <h3>Nikhil Balagopal</h3>
                <h4>Sr. Business Intelligence Analyst </h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                <h3>Person_3</h3>
                <h4>Sr. Business Intelligence Analyst </h4>
              </div>
            </div><!-- End testimonial item -->

          </div>
            <div class="swiper-pagination"></div>
          </div>
      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>31300, Toulouse (France)</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>htorrecasado@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Phone:</h4>
                <p>+34 722 120 575 (Spain)
                <br>+33 749 331 521 (France)
                </p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11557.700121775522!2d1.4259236172826875!3d43.597691204047514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aebb7a9123c86d%3A0xe48e1097a0202044!2sSt%20-%20Cyprien%2C%20Toulouse%2C%20France!5e0!3m2!1sen!2ses!4v1658829321077!5m2!1sen!2ses" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="{% url 'new_contact' %}" method="post" role="form">
              {% csrf_token %}
              <div class="row">
                {{ form.name.errors }}
                <div class="form-group col-md-6">
                  <label for="{{ form.subject }}">Your name:</label>
                  {{ form.subject }}
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <table>
              {{ form.as_table }}
              </table>
            <input type="submit" value="Send message">
            </form>

<!--          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">-->
<!--            <form action='/new_contact' method="post" role="form" class="php-email-form">-->
<!--              {% csrf_token %}-->
<!--              <div class="row">-->
<!--                <div class="form-group col-md-6">-->
<!--                  <label for="name">Your Name</label>-->
<!--                  <input type="text" name="name" class="form-control" id="name" required>-->
<!--                </div>-->
<!--                <div class="form-group col-md-6">-->
<!--                  <label for="name">Your Email</label>-->
<!--                  <input type="email" class="form-control" name="email" id="email" required>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="form-group">-->
<!--                <label for="name">Subject</label>-->
<!--                <input type="text" class="form-control" name="subject" id="subject" required>-->
<!--              </div>-->
<!--              <div class="form-group">-->
<!--                <label for="name">Message</label>-->
<!--                <textarea class="form-control" name="message" rows="10" required></textarea>-->
<!--              </div>-->
<!--              <div class="my-3">-->
<!--                <div class="loading">Loading</div>-->
<!--                <div class="error-message"></div>-->
<!--                <div class="sent-message">Your message has been sent. Thank you!</div>-->
<!--              </div>-->
<!--              <div class="text-center"><button type="submit">Send Message</button></div>-->
<!--            </form>-->
<!--          </div>-->
        </div>
      </div>
    </section><!-- End Contact Section -->

    {% block content %}
    {% endblock %}

  </main><!-- End #main -->

<!--  &lt;!&ndash; ======= Footer ======= &ndash;&gt;-->
<!--  <footer id="footer">-->
<!--    <div class="container">-->
<!--      <div class="credits">-->
<!--        Designed by <a href="https://linkedin.com/in/hectordelatorrecasado/">Héctor de la Torre Casado</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </footer>&lt;!&ndash; End  Footer &ndash;&gt;-->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>